.detailPart {
  max-width: 24rem; /* 384px */
  width: 100%;
  height: 5.75rem; /* 92px */
  border-radius: 0.625rem; /* 10px */

  background-color: var(--black-200);
  padding: 0 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.detailPageColumn {
  font-weight: 400;
  font-size: 1rem; /* 16px */
  line-height: 1.25rem; /* 20px */
  letter-spacing: 0;
  color: var(--gray-100);
  text-align: left;
}

.detailPageValue {
  font-weight: 600;
  font-size: 1rem; /* 16px */
  line-height: 100%;
  letter-spacing: 0;
}

/* 태블릿 화면 (744px ~ 1199px) */
@media (min-width: 46.5rem) and (max-width: 74.9375rem) {
  .detailPart {
    width: 100%;
    height: 5.75rem;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 1rem;
  }

  .detailPageColumn {
    font-size: 1rem; /* 16px */
  }
  .detailPageValue {
    font-size: 1rem; /* 16px */
  }
}

/* 모바일 화면 (375px ~ 743px) */
@media (min-width: 23.4375rem) and (max-width: 46.5rem) {
  .detailPart {
    width: 100%;
    min-height: 7.8125rem;
    padding: 0 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
  .detailPageColumn {
    font-size: 0.875rem; /* 16px */
  }

  .detialPageValue {
    font-size: 0.875rem; /* 16px */
  }
}
