.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.content {
  background-color: var(--black-300);
  color: var(--white-color);
  padding: 1.5rem;
  border-radius: 1rem;
  max-width: 31rem;
  width: 100%;
  height: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.searchCompany {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Tablet (744px ~ 1199px) */
@media only screen and (min-width: 46.5rem) and (max-width: 74.9375rem) {
}

/* Mobile (0 ~ 743px) */
@media only screen and (min-width: 0) and (max-width: 46.4375rem) {
  .overlay {
    padding: 1rem;
  }

  .closeButton {
    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
