.titleArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.titleText {
  font-weight: bold;
  font-size: 1.3rem;
}

.CompanyRankingTable {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
  font-size: 1.2rem;
}

.CompanyRankingTable thead {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.CompanyRankingTable tbody {
  display: flex;
  flex-direction: column;
}

.CompanyRankingTable tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.CompanyRankingTable th,
td {
  padding: 1rem;
  text-align: center;
}

.CompanyRankingTable th:nth-child(1),
.CompanyRankingTable td:nth-child(1) {
  width: 8%;
}

.CompanyRankingTable th:nth-child(2),
.CompanyRankingTable td:nth-child(2) {
  width: 20%;
}

.CompanyRankingTable th:nth-child(3),
.CompanyRankingTable td:nth-child(3) {
  width: 24%;
}

.CompanyRankingTable th:nth-child(4),
.CompanyRankingTable td:nth-child(4),
.CompanyRankingTable th:nth-child(5),
.CompanyRankingTable td:nth-child(5),
.CompanyRankingTable th:nth-child(6),
.CompanyRankingTable td:nth-child(6),
.CompanyRankingTable th:nth-child(7),
.CompanyRankingTable td:nth-child(7) {
  width: 12%;
}
