.companyCard {
  width: 7.875rem;
  height: 11.6875rem;
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-400);
  border-radius: 0.5rem;
  position: relative;
  img {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
  }
}

.minusButton {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  img {
    width: 1.5rem;
    height: 1.5rem;
    //margin: 0;
  }
}

.companyName {
  font-weight: 500;
  font-size: 1rem;
}

.companyCategory {
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--gray-200);
  margin-top: 0.25rem;
}

.noAddCompany {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: var(--gray-200);
}

/* Tablet (744px ~ 1199px) */
@media only screen and (min-width: 46.5rem) and (max-width: 74.9375rem) {
}

/* Mobile (0 ~ 743px) */
@media only screen and (min-width: 0) and (max-width: 46.4375rem) {
  .companyCard {
    width: 6.5rem;
    height: 10.1875rem;
  }
}
