
.errorPage {
    width : 100%;
    height: 100vh;
    padding : 0px 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index : 100;
    background-color: var(--black-400);
}

.errorPage * {
    color: var(--white-color);
    font-weight: bold;
}

.errorContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.errorTitle {
    text-align: center;
    margin-bottom: 0.9375rem;
    font-size: 9.0625rem;
}

.errorMessage {
    margin: 1.5625rem 0 0.9375rem 0;
    font-size: 2rem;
    line-height: 2.2rem;
    font-weight: 400;
}

.errorDescription {
    display: block;
    margin: 1.5625rem 0 0.9375rem 0;
    font-size: 0.875rem;
}

.errorActions {
    display: flex;
    align-items: center;
    gap : 1rem;
}

.errorButton {
    margin-top : 1rem;
    padding : 10px 1rem;
}

.errorButton:first-child {
    background-color : var( --error-green);
}

.errorButton:last-child {
    border : 1px solid var( --error-green);
}

/* Mobile (375px ~ 743px) */
@media only screen and (min-width: 23.4375rem) and (max-width: 46.4375rem) {
    .errorTitle {
        margin-bottom: 0.625rem;
        font-size: 6.25rem;
    }

    .errorMessage {
        margin: 0.9375rem 0 0.3125rem 0;
        font-size: 1.5rem;
        line-height: 1.75rem;
    }

    .errorDescription {
        margin: 0.9375rem 0 0.3125rem 0;
        font-size: 0.875rem;
    }
}
