.ViewMyStartUpHeader {
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0.5rem 0;
}

/* 글자 크기와 스타일 */
.investAmountText {
  font-weight: 700;
  font-size: 1.25rem; /* 20px */
  line-height: 100%;
  letter-spacing: 0;
}

.investButton {
  width: 8.2rem; /* 131px */
  height: 2.5rem; /* 40px */
  border-radius: 3.125rem;
  font-size: 1rem;
  font-weight: 600;
  gap: 0.625rem; /* 10px */
  text-align: center;
  background-color: var(--brand-orange);

  padding: 0.5rem 1.5rem;

  font-weight: 600;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); //배경 좀 어둡게
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 반응형 스타일 */

/* Tablet (744px ~ 1199px) */
@media screen and (min-width: 46.5rem) and (max-width: 74.9375rem) {
  .ViewMyStartUpHeader {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-size: 1.125rem; /* 18px */
  }
  .investAmountText {
    font-weight: 700;
    font-size: 1.25rem; /* 20px */
    line-height: 100%;
    letter-spacing: 0;
    padding: 0rem 0.5rem;
  }
  .investButton {
    width: 8.2rem; /* 131px */
    height: 2.5rem; /* 40px */
  }
}

/* Mobile (375px ~ 743px) */
@media screen and (min-width: 23.4375rem) and (max-width: 46.4375rem) {
  .ViewMyStartUpHeader {
    width: 100%;
    height: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-size: 1.125rem; /* 18px */
  }
  .investAmountText {
    font-weight: 700;
    font-size: 1rem; /* 20px */
    line-height: 100%;
    letter-spacing: 0;
  }
  .investButton {
    width: 6.05rem; /* 131px */
    height: 2rem; /* 40px */
    font-size: 0.875rem;

    font-family: Pretendard;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    padding: 0.25rem 0.7rem;
  }
}
