.companyInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.companyItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.deselectButton {
  width: 6.5rem;
  height: 3rem;
  border-radius: 0.625rem;
  border: 1px solid var(--gray-200);
  color: var(--gray-200);
}

.companyName {
  font-weight: 500;
  font-size: 1rem;
}

.companyCategory {
  font-weight: 400;
  font-size: 0.875;
  color: var(--gray-200);
}

.companyInfo img {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}

/* Tablet (744px ~ 1199px) */
@media only screen and (min-width: 46.5rem) and (max-width: 74.9375rem) {
}

/* Mobile (375px ~ 743px) */
@media only screen and (min-width: 23.4375rem) and (max-width: 46.4375rem) {
  .companyName {
    font-size: 0.875rem;
  }

  .companyCategory {
    font-size: 0.75rem;
  }

  .selectButton {
    width: 4.5625rem;
    height: 2rem;
    border-radius: 0.5rem;
  }

  .deselectButton {
    width: 4.5625rem;
    height: 2rem;
    border-radius: 0.5rem;
  }

  .selectButton img {
    width: 1rem;
    height: 1rem;
  }

  .companyInfo img {
    width: 2.5rem;
    height: 2.5rem;
  }
}
