.myCompanyContainer,
.compareCompanyContainer {
  max-width: 75rem;
  height: 18.75rem;
  width: 100%;
  border-radius: 0.25rem;
  background-color: var(--black-300);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 2.5rem;
}

.compareCompanyContainer {
  flex-wrap: wrap;
  gap: 1rem;
}

/* Tablet (744px ~ 1199px) */
@media only screen and (min-width: 46.5rem) and (max-width: 74.9375rem) {
  .myCompanyContainer,
  .compareCompanyContainer {
    width: 100%;
    height: 15rem;
  }
}

/* Mobile (0 ~ 743px) */
@media only screen and (min-width: 0) and (max-width: 46.4375rem) {
  .myCompanyContainer {
    height: 11.25rem;
  }

  .compareCompanyContainer {
    height: 21.875rem;
  }
}
