.section {
    max-width: 75rem;
    width: 100%;
    margin: 6.25rem auto 0 auto;
}

@media only screen and (min-width: 46.5rem) and (max-width: 74.9375rem) {
    .section {
        max-width: auto;
        padding: 0 1.5rem; 
    }
}

@media only screen and (min-width: 23.4375rem) and (max-width: 46.4375rem) {
    .section {
        max-width: auto;
        margin: 5rem auto 0 auto;
        padding: 0 1rem; 
    }
}
