h1 {
  font-weight: 700;
  font-size: 1.25;
}

h2 {
  font-weight: 700;
  font-size: 1rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.content {
  background-color: var(--black-300);
  color: var(--white-color);
  padding: 1.5rem;
  border-radius: 1rem;
  width: 31rem;
  height: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.input {
  width: 28rem;
  height: 3rem;
  border-radius: 0.625rem;
  padding: 0.75rem 0.75rem 0.75rem 3rem;
  gap: 0.75rem;
  border-width: 0.0625rem;
  background: var(--black-300);
  border: 0.0625rem solid var(--gray-200);
  color: var(--gray-100);
  margin: 0.5rem 0;
}

.search {
  position: relative;
}

.inputButton {
  width: 3.25rem;
  height: 1.5rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 1.25rem;
  left: 0.75rem;
}

.companyInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.companyItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.selectButton {
  width: 6.5rem;
  height: 3rem;
  border-radius: 0.625rem;
  border: 1px solid var(--brand-orange);
  color: var(--brand-orange);
}

.selectButton:disabled {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-100);
  border-color: var(--gray-100);
}

.deselectButton {
  width: 6.5rem;
  height: 3rem;
  border-radius: 0.625rem;
  border: 1px solid var(--gray-200);
  color: var(--gray-200);
}

.companyName {
  font-weight: 500;
  font-size: 1rem;
}

.companyCategory {
  font-weight: 400;
  font-size: 0.875;
  color: var(--gray-200);
}

.recentCompanies {
  margin: 0.5rem 0;
}

.companyInfo img {
  width: 3rem;
  height: 3rem;
}

.filteredCompanies {
  margin: 0.5rem 0;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2rem 0 0 0;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationButton {
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: var(--black-100);
  color: var(--gray-200);
}

.paginationButton:disabled {
  background-color: var(--brand-orange);
  color: var(--white-color);
}

.navigationBar {
}
