.noSearchResult {
    font-weight: 300;
    font-size: 0.9rem;
    width: 100%;
    text-align : center;
    line-height: 6rem;
}


.borderRowLink {
    color: inherit;
    text-decoration: none;
  }
  
  .boardRow {
    display: flex;
    align-items: center;
    span {
      text-align: center;
      padding: 1rem;
      font-weight: 400;
      color: #d8d8d8;
      font-size: 0.88rem;
    }
    .txtLeft {
      text-align: left;
    }
    background-color: #212121;
    border-bottom: 0.065rem solid #4b4b4b;
  }

  .sizeSm {
    flex: 1;
  }
  .sizeMd {
    flex: 2;
  }
  .sizeLg {
    flex: 3;
  }
  .sizeXlg {
    flex: 4;
  }