
.borderRowLink {
    color: inherit;
    text-decoration: none;
  }
  
  .boardRow {
    display: flex;
    span {
      text-align: center;
      padding: 1rem;
    }
    .txtLeft {
      text-align: left;
    }
    background-color: #212121;
    border-bottom: 0.065rem solid #4b4b4b;
  }
  
  .sizeSm {
    flex: 1;
  }
  .sizeMd {
    flex: 2;
  }
  .sizeLg {
    flex: 3;
  }
  .sizeXlg {
    flex: 4;
  }