.buttonDiv {
  display: flex;
  justify-content: center;
  width: 100%;
}

.investButton {
  background-color: var(--brand-orange);
  border: none;
  border-radius: 1rem;
  color: white;
  padding: 0.5rem 1rem;
  width: 11rem;
}
