.h2Title {
    font-size: 1.25rem;
    font-weight: 700;
}

/* Mobile (375px ~ 743px) */
@media only screen and (min-width: 0) and (max-width: 46.4375rem) { 
    .h2Title {
        font-size: 1rem;
        align-self: flex-start;
        margin-bottom: 1rem;
        margin-top: 0;
    }
}