/* Pretendard 폰트 적용 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/Pretendard/dist/web/static/pretendard.css");

#root {
  /* Black scale */
  --black-400: #131313;
  --black-300: #212121;
  --black-200: #282828;
  --black-100: #2e2e2e;

  /* Gray scale */
  --gray-400: #333333;
  --gray-300: #4b4b4b;
  --gray-200: #747474;
  --gray-100: #d8d8d8;

  /* Primary color */
  --blue: #558fff;
  --brand_orange: #eb5230;
  --red: #c41013;

  // 폰트
  font-family: "Pretendard", sans-serif;

  /* 20pt */
  .bold-20 {
    font-weight: 700;
    font-size: 20pt;
  }
  .semibold-20 {
    font-weight: 600;
    font-size: 20pt;
  }
  .medium-20 {
    font-weight: 500;
    font-size: 20pt;
  }

  /* 18pt */
  .bold-18 {
    font-weight: 700;
    font-size: 18pt;
  }
  .semibold-18 {
    font-weight: 600;
    font-size: 18pt;
  }
  .medium-18 {
    font-weight: 500;
    font-size: 18pt;
  }
  .regular-18 {
    font-weight: 400;
    font-size: 18pt;
  }

  /* 16pt */
  .bold-16 {
    font-weight: 700;
    font-size: 16pt;
  }
  .semibold-16 {
    font-weight: 600;
    font-size: 16pt;
  }
  .medium-16 {
    font-weight: 500;
    font-size: 16pt;
  }
  .regular-16 {
    font-weight: 400;
    font-size: 16pt;
  }

  /* 14pt */
  .bold-14 {
    font-weight: 700;
    font-size: 14pt;
  }
  .semibold-14 {
    font-weight: 600;
    font-size: 14pt;
  }
  .medium-14 {
    font-weight: 500;
    font-size: 14pt;
  }
  .regular-14 {
    font-weight: 400;
    font-size: 14pt;
  }

  /* 12pt */
  .bold-12 {
    font-weight: 700;
    font-size: 12pt;
  }
  .medium-12 {
    font-weight: 500;
    font-size: 12pt;
  }
  .regular-12 {
    font-weight: 400;
    font-size: 12pt;
  }
}
