:root {
    /* Basic Colors */
    --white-color : #ffffff;
    --black-color : #000000;

    /* Black Variants */
    --black-400: #131313;
    --black-300: #212121;
    --black-200: #282828;
    --black-100: #2E2E2E;

    /* Gray Variants */
    --gray-400: #333333;
    --gray-300: #4B4B4B;
    --gray-200: #747474;
    --gray-100: #D8D8D8;
    
    /* Brand Colors */
    --brand-orange: #EB5230;

    /* Primary Colors */
    --primary-blue: #558fff;

    /* Error Colors */
    --error-red: #C41013;
    --error-green : #008489;

    /* Loading Colors */
    --loading-orange : #ff5722
}
                 
body {
    background-color: var(--black-400);
}

