.CompanyDetailPage {
  width: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}
.CompanyDetailDiv {
  width: 1200px;
  margin-top: 100px;
  margin-left: 360px;
  margin-right: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}
.companyDetailHeader {
  /* background-color:  */
  width: 100%;
  height: 112px;
  gap: 32px;
  display: flex;
  justify-content: left;
  border-bottom: solid 3px #d8d8d8;
}
.companyDetailThreePart {
  width: 100%;
  height: 93px;
  gap: 24px;

  display: flex;
  justify-content: space;
}

.companyDetailDescription {
  width: 100%;
  height: 287px;
  border-radius: 10px;
  gap: 16px;
  padding: 24px;

  background-color: #212121;
  display: flex;
  flex-direction: column;
}

.companyLogo {
  width: 81.23077392578125px;
  height: 81.23077392578125px;
  top: -0.62px;
  left: -0.61px;
  border-radius: 50%;
}
.companyNameAndCategory {
  width: 300px;
  height: 61px;
  display: flex;
  justify-content: left;
  flex-direction: column;

  gap: 8px;
}
.detialPageWeight700 {
  font-family: Pretendard;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}
.detialPageWeight500 {
  font-family: Pretendard;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.detailPart {
  width: 384px;
  height: 92px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
  padding-right: 24px;
  padding-bottom: 36px;
  padding-left: 24px;
  background-color: #282828;
}

.detialPageWeight400 {
  font-family: Pretendard;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #d8d8d8;
}
.detialPageWeight600 {
  font-family: Pretendard;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
.ViewMyStartUpDiv {
  width: 1200px;
  margin-left: 360px;
  margin-right: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.ViewMyStartUpHeader {
  width: 100%;

  height: 24px;
  margin-top: 8px;

  font-family: Pretendard;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  display: flex;
  justify-content: space-between;
}

.ViewMyStartUpMain {
  width: 100%;
  height: 431px;
  border-top: solid 3px #d8d8d8;

  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.investButton {
  width: 131px;
  height: 40px;
  border-radius: 50px;
  gap: 10px;
  padding-top: 8px;
  padding-right: 24px;
  padding-bottom: 8px;
  padding-left: 24px;
  background-color: #eb5230;
}
.PaseNationDiv {
  width: 100%;
  height: 48px;
  gap: 8px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.PaseNationButton {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;

  background-color: #2e2e2e;
}
.investTableHeader {
  width: 1200px;
  height: 40px;
  gap: 10px;
  background-color: #2e2e2e;

  padding-right: 16px;
  padding-left: 16px;
  border-spacing: 0px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.investTableBody {
  width: 100%;
  gap: 10px;
  background-color: #2e2e2e;

  padding-right: 16px;
  padding-left: 16px;
  border-spacing: 0px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.investTableRow {
  width: 100%;
  height: 64px;
  gap: 10px;
  border-bottom-width: 1px;
  padding-right: 16px;
  padding-left: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2e2e2e;
  border-bottom: 1px solid #4b4b4b;
}

.investDeleteButton {
  width: 24px;
  height: 24px;
  background-image: url("./photo/ic_kebab.png");
}

.deleteInestModalDiv {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 496px;
  height: 269px;

  border-radius: 16px;
  padding: 24px;
  gap: 24px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #212121;
}
.deleteInestModalCloseDiv {
  width: 448px;
  height: 32px;
  gap: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212121;
}
.deleteInestModalDeleteButton {
  width: 32px;
  height: 32px;
  background-image: url("./photo/ic_delete.png");
}

.deleteInestModalPasswordDiv {
  width: 448px;
  height: 165px;
  gap: 32px;

  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #212121;
}
.deleteInestModalPasswordInput {
  width: 448px;
  height: 48px;
  border-radius: 10px;
  gap: 10px;
  border-width: 1px;
  padding-top: 16px;
  padding-right: 20px;
  padding-bottom: 16px;
  padding-left: 20px;
  background-color: #212121;
  color: #ffffff;

  border: 1px solid #747474;
  font-family: Pretendard;
  font-weight: 400;
}

.investDeleteCompleteButton {
  width: 194px;
  height: 48px;
  border-radius: 50px;
  gap: 10px;
  padding-top: 13px;
  padding-right: 48px;
  padding-bottom: 13px;
  padding-left: 48px;
  font-family: Pretendard;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;

  background-color: #eb5230;
}
.DeleteAndChangeModal {
  width: 144px;
  height: 80px;
}
.DeleteAndChangeModalButton1 {
  width: 144px;
  height: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-width: 1px;
  border: 1px solid #747474;

  background-color: #131313;

  font-family: Pretendard;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #d8d8d8;
}
.DeleteAndChangeModalButton2 {
  width: 144px;
  height: 40px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;

  border-width: 0px, 1px, 1px, 1px;

  border-style: solid;

  border-color: #747474;

  background-color: #131313;

  font-family: Pretendard;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #d8d8d8;
}
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* 어두운 배경 추가 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalCenter {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3); /* 어두운 배경 추가 */
  display: flex;
  justify-content: center;
  align-items: center;
}
