.boardHeader {
    display: flex;
    background-color: #2e2e2e;
    border-radius: 0.25rem;
    span {
      text-align: center;
      padding: 0.65rem 1rem;
      font-size: 0.9rem;
    }
    .sizeSm {
        flex: 1;
    }
    .sizeMd {
        flex: 2;
    }
    .sizeLg {
        flex: 2.5;
    }
    .sizeXlg {
        flex: 4.5;
    }
  }

  /* Mobile (375px ~ 743px) */
@media only screen and (min-width: 23.4375rem) and (max-width: 46.4375rem) {
    .boardTitle {
      max-width: auto;
      margin: auto;
      padding: 0 1rem;
      gap: 1rem;
    }
}
