.pagination {
    padding: 1.25rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.pageButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 0.625rem;
    background-color: var(--black-100);
    font-size: 1.125rem;
    color: var(--gray-200);
}

.pageButton.active {
    background-color: var(--brand-orange);
    color: inherit;
}

@media only screen and (min-width: 46.5rem) and (max-width: 74.9375rem) {
}

@media only screen and (min-width: 23.4375rem) and (max-width: 46.4375rem) {
    .pagination {
        padding: 1rem 0;
        gap: 0.25rem;
    }
    
    .pageButton {
        width: 2rem;
        height: 2rem;
        border-radius: 0.5rem;
        font-size: 1rem;
    }
}
