.companyDetailHeader {
  width: 100%;
  display: flex;
  border-bottom: 0.065rem solid var(--black-100);
  align-items: center;
  padding-bottom: 1.5rem;
  margin-top: 2.5rem;
  gap: 1.1rem;
}

.companyLogo {
  width: 5.0625rem; /* 81.23px */
  height: 5.0625rem;
  border-radius: 100%;
  vertical-align: top;
}

.companyNameAndCategory {
  width: 18.75rem; /* 300px */
  height: 3.8125rem; /* 61px */
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}

.companyName {
  font-weight: 700;
  font-size: 1.5rem; /* 24px */
  line-height: 100%;
  letter-spacing: 0;
}

.companyCategory {
  font-weight: 500;
  color: var(--gray-200);
  font-size: 1.25rem; /* 20px */
  line-height: 100%;
  letter-spacing: 0;
}

/* 반응형 스타일 */

/* 태블릿 화면 (744px ~ 1199px) */
@media (min-width: 46.5rem) and (max-width: 74.9375rem) {
  .companyDetailHeader {
    width: 100%;
    gap: 1rem;
  }
  .companyLogo {
    width: 5.0625rem;
    height: 5.0625rem;
  }
  .companyNameAndCategory {
    width: 11rem;
    height: 5.0625rem;
  }
  .companyName {
    font-size: 1.25rem;
  }

  .companyCategory {
    font-size: 1rem;
  }
}

/* 가장 작은 화면 (375px 이하) */
@media (max-width: 46.5rem) {
  .companyDetailHeader {
    width: 100%;
    height: 6.5rem;
    gap: 1.5rem;
  }
  .companyLogo {
    width: 3.1rem;
    height: 3.1rem;
  }
  .companyNameAndCategory {
    width: 7rem;
    height: 3rem;
  }

  .companyName {
    font-size: 1.25rem;
  }

  .companyCategory {
    font-size: 1rem;
  }
}
