.tableHeader {
  width: 100%;
  height: 2.5rem; /* 40px */
  background-color: var(--black-100);
  border-spacing: 0;
  border-radius: 0.25rem; /* 4px */

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  div {
    font-size: 0.875rem;
    line-height: 100%;
    letter-spacing: 0%;

    padding: 0.625rem 0;
    text-align: center;
  }
  .sizeSm {
    width: 5.5%;
  }
  .sizeMd {
    width: 7rem;
  }
  .sizeLg {
    width: 73.5%;
  }
}
/* 반응형 스타일 */
/* Tablet (744px ~ 1199px) */
@media screen and (min-width: 46.5rem) and (max-width: 74.9375rem) {
  .tableHeader {
    width: 100%;
    height: 2.5rem; /* 40px */
    background-color: var(--black-100);
    border-spacing: 0;
    border-radius: 0.25rem; /* 4px */

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    div {
      font-size: 0.875rem;
      line-height: 100%;
      letter-spacing: 0%;

      padding: 0.625rem 0;
      text-align: center;
    }
    .sizeSm {
      width: 5.5%;
    }
    .sizeMd {
      width: 7rem;
    }
    .sizeLg {
      width: 73.5%;
    }
  }
}

/* Very Small Mobile (최대 374px) */
@media screen and (max-width: 23.375rem) {
  .tableHeader {
    width: 100%;
    height: 2.5rem; /* 40px */
    background-color: var(--black-100);
    border-spacing: 0;
    border-radius: 0.25rem; /* 4px */

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    div {
      font-size: 0.875rem;
      line-height: 100%;
      letter-spacing: 0%;

      padding: 0.625rem 0;
      text-align: center;
    }
    .sizeSm {
      width: 5.5%;
    }
    .sizeMd {
      width: 7rem;
    }
    .sizeLg {
      width: 73.5%;
    }
  }
}
