.companyBoard {
    max-width: 75rem;   
    min-height: 3.75rem;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .pageTopComponent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%; 
        min-width: 23.4375rem;
        margin-top: 2.5rem;
    }

    .searchAndFilter {
        display: flex;
        justify-content: end;
    }
}

.companyList {
  min-width: 46.5rem;
}

/* Tablet (744px ~ 1199px) */
@media only screen and (min-width: 46.5rem) and (max-width: 74.9375rem) {
    .companyBoard {
        max-width: auto;
        margin: auto;
        padding: 0 1.5rem;
    }
}

/* Mobile (375px ~ 743px) */
@media only screen and (min-width: 23.4375rem) and (max-width: 46.4375rem) {
  .boardTitle {
    max-width: auto;
    margin: auto;
    padding: 0 1rem;
    gap: 1rem;
  }
}
