.companyBoard {
    max-width: 75rem;   
    min-height: 3.75rem;
    height: 100%;
    display: flex;
    flex-direction: column;

    .pageTopComponent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%; 
        min-width: 23.4375rem;

        .totalListHead {
          font-size: 1.25rem;
          font-weight: 700;
        }

        .searchAndFilter {
          display: flex;
          justify-content: end;
      }
    }
}

.companyList {
  min-width: 46.5rem;
}

/* Tablet (744px ~ 1199px) */
@media only screen and (min-width: 46.5rem) and (max-width: 74.9375rem) {
  .companyBoard {
    padding: 0 1.5rem;
  }
}

/* Mobile (375px ~ 743px) */
@media only screen and (min-width: 0) and (max-width: 46.4375rem) {
  .companyBoard {
    padding: 0 1rem;

    .pageTopComponent {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-self: flex-start;
  
      .totalListHead {
        font-size: 1rem;
        align-self: flex-start;
        margin-bottom: 1rem;
        margin-top: 0;
      }
  
      .searchAndFilter {
        align-self: flex-start;
      }
    }
  }
}
