.companyBoard {
  max-width: 75rem;
  min-height: 3.75rem;
  height: 100%;
  display: flex;
  flex-direction: column;

}

.companyList {
  min-width: 46.5rem;
}

/* Tablet (744px ~ 1199px) */
@media only screen and (min-width: 46.5rem) and (max-width: 74.9375rem) {
  .companyBoard {
    padding: 0 1.5rem;
  }
}

/* Mobile (375px ~ 743px) */
@media only screen and (min-width: 23.375) and (max-width: 46.4375rem) {
  .companyBoard {
    padding: 0 1rem;

  }
}

@media only screen and  (min-width: 0 ) and (max-width: 23.374) {
  .companyBoard {
    padding: 0 1rem;

    .headerRow {
      display: flex;
      flex-wrap: wrap; // 줄바꿈 허용
      gap: 1rem;
      width: 100%;

      .itemAlign {
        justify-content: flex-start;
        
      }
    }
  }
}