.cancle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1rem;
  color: var(--white-color);
  text-decoration: underline;
  cursor: pointer;
}

.selectedCompany {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  img {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    //margin: 0.5rem;
  }
}

.companyName {
  font-weight: 500;
  font-size: 1rem;
}

.companyCategory {
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--gray-200);
}
